body{
  color: purple;
  background-color: darkgrey;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 42px;
  /* Sets the font size to 42px */
  line-height: 2.1;
  /* Sets the line-height to 2.1 */
}
/* The purple banner at the top */
h1 {
  color: red;
  background-color: purple;
  border: 10px solid  #94241c;
}
/*the buttons that are used by the pokemon API */
.button-class {
  background-color: #d69c98;
  border: none;
  color: #120808;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 6px solid  #94241c;
}

/*===================== The modal CSS ===================== */


/* the Modal details. All stylings for the actual box goes here. */
