body{
  color: blue;
  background-color: lightgray;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 32px;
  /* Sets the font size to 32px */
  line-height: 2.1;
  /* Sets the line-height to 2.1 */
}

h1 {
  color: red;
  background-color: purple;
}
